Package: com.frostbitee08.soundcloudshare
Name: SoundCloud Share
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Use the default sharing options, instead of soundcloud’s built in sharing options.
Maintainer: Rocco Del Priore
Author: Rocco Del Priore
Section: Tweaks
Version: 1.0-13
Installed-Size: 120
